*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
    margin: 30px;
}
.head{
    display: flex;
    gap: 30px;
    align-items: center;
    flex-direction: row;
}
ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
ul li{
    
    list-style-type: none;
}
.menu a{
    text-decoration: none;
}
.btn button{
    margin-left: 490px;
    /* margin-right: 10px; */
    padding: 7px;
    border-radius: 12px;
    background-color: rgb(139, 11, 243);
    color: white;
    border-color: rgb(139, 11, 243);
    
}
.main-section
{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    

}
.left-section{
    display: flex;
    /* text-align: center; */
    flex-direction: column;
    /* align-items: center; */
    margin-top: 5%;
    gap: 30px;
    
}
.btn2 button{
    padding: 7px;
    border-radius: 12px;
    background-color: rgb(139, 11, 243);
    color: white;
    border-color: rgb(139, 11, 243);
}
.right-section img{
    height: 400px;
    width: 650px;
    margin-left: 20px;

}
.title{
    font-size: 50px;
    font-weight: bolder;
}
.title span{
    color: rgb(139, 11, 243);
}
.sub-title{
    font-size: 15px;
    color: rgb(136, 115, 115);
}

